/* We need to use a css library other than bootstrap, I suggest we find something just for fonts since she's already done */
*{
     box-sizing: border-box;
}

#map {
     height: 400px;
     border: 2px solid lightgrey;
}
#history {
     border: 2px solid green;
}
#content {
     display: flex;
     flex-direction: column;
     border: 3px solid orange;
     background-color: rgb(231, 178, 178);
}
#search {
     background-color: lightblue;
     flex-direction: column;
}
.current-search {
     padding: 10px;
}
#input {
     width:100%;
}
#submit-btn {
    margin-top: 5px;
}
#main-container {
     display: flex;
}
#btc-price {
     border: 2px solid yellowgreen;
}
#head {
     display: flex;
     background-color: aliceblue;
     width: 100%;
}
#calendar-holder {
     display: flex;
     width: auto;
     justify-content: flex-end;
}
#head-title {
     display: flex;
     padding: 10px;
}

.card {
     margin: 1%;
     padding: 10px;
}

/* #weather, */
#currency,
#history
 {
     border-color:white;
}

#head-container {
     width: 100%;
}

/* When screen is too small, content shuffles under search */
@media screen and (max-width: 800px) {
     #content, #search {
       width: 100%;
     }
   }