* {
     box-sizing: border-box;
}
body {
     /* border: 5px solid red;  */
     display: flex;
     flex-direction: column;
     background: #7c7c7cb2;
     background-image: url('https://source.unsplash.com/1600x1600/?landscape');
}
#map {
     width: 500px; 
     border: none; 
     border-radius: 10px;
     padding: 2em;
     width: 100%;
     margin: 15px;
}
.weather {
     width: 500px; 
     border: none; 
     border-radius: 10px;
     background:  #7c7c7cb2;
     color: white;
     padding: 2em;
     width: 100%;
     margin: 15px;
}
#history {
     background: #7c7c7cb2;
     border: none;
     border-radius: 10px;
     margin: 1%;
     padding: 2%;
}
#today-rate {
     margin: 1%;
}
#content {
     display: flex;
     flex-direction: column;
     width: 70%;
     margin-right: 3%;
     margin-left: 1%;
     border: none;
     background: #000000d0;
     color: white;
     border-radius: 7px;
     padding: 30px;
}
#search {
     width: 200px;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     margin-left: 3%;
     margin-right: 1%;
     /* border: 2px solid blue;  */
}
.current-search {
     padding: 10px;
}
#input {
     width:100%;
     border-radius: 7px;
}
.clearBtn{
     display:none;
     margin-top: 5px;
     width: 100%;
     border-radius: 7px;
     border: 1px solid rgba(109, 199, 194, 0.904); 
     background-color: rgba(154, 247, 242, 0.904);
     text-align: center;
     text-transform: uppercase;
     color:#555;
     font-size:11px;
     font-weight:bold;
}
.clearBtn:hover{
     cursor:pointer;
     background-color: rgba(11, 167, 71, 0.904);
}
#submit-btn {
     margin-top: 5px;
     width: 100%;
     border-radius: 7px;
}
#main-container {
     width: auto;
     display: flex;
     flex-wrap: wrap;
     /* border:4px solid blueviolet;  */
}
#head {
     margin: 3%;
     /* border: 5px solid pink; */
}
#calendar-holder {
     display: flex;
     justify-content: center;
     border: none;
     background-color:  #000000d0;
     color: white;
     border-radius: 15px;
     width: 190px;
     margin-left: auto;
     margin-right: auto;
}
#head-tittle {
     display: flex;
     justify-content: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     width: 100%;
     color: #F4584b;
     /* border: 5px solid darkred;  */
     /* text-align: justify; */
     
}

#currency {
     background: #7c7c7cb2;
     border: none;
     border-radius: 10px;
     margin: 1%;
     padding: 2%;
     
}

#head-container {
     display: flex;
     flex-direction: row;
     /* width: 100%;  */
     /* border: 5px solid darkgoldenrod; */
     
}
.eachPreviousSearch {
     margin: 2% 2% 2% 2%; 
     /* padding-right: 5%; */
     width: 95%; 
     border-radius: 7px;
     border: none; 
     background-color: #7c7c7cb2;
     color: white;
}
#mapWeatherContainer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin: 15px;
}
footer {
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: white;
     margin: 5%;
}
.capital-name {
     background:  #7c7c7cb2;
     color:  white;
     border: none;
     border-radius: 7px;
     margin: 1%;
     padding: 2%;
}
#submit-btn {
     border: none; 
     background-color: #000000d0;
     color: white;
}

/* When screen is too small, content shuffles under search */
@media only screen and (max-width: 800px) {
     #content, #search {
     width: 95%;
     }
}