*{
     box-sizing: border-box;
}

/* google map setting on the page */
#map {
     width:400px;
     height:400px;
     background:grey;
     margin: 10px;
     float: right;
   }

#history {
     border: 2px solid green;
}
#content {
     display: flex;
     border: 3px solid orange;
}
#search {
     border: 2px solid blue;
}
#main-container {
     display: flex;
     border:4px solid blueviolet;
}
#btc-price {
     border: 2px solid yellowgreen;
}